
body{
font-family:Arial;
margin:0;
padding:0;
background:#f4f4f4;
}

header{
background:#2f7d32;
color:white;
padding:15px;
}

nav a{
margin-right:15px;
color:white;
text-decoration:none;
}

.hero{
padding:80px;
text-align:center;
background:url('https://picsum.photos/1200/500') center/cover;
color:white;
}

.card{
background:white;
padding:15px;
margin:10px;
display:inline-block;
}

#products div{
background:white;
margin:10px;
padding:10px;
display:inline-block;
}
