
body{
margin:0;
font-family:Arial;
background:#0b3d2e;
color:white;
}

.header{
background:#14532d;
padding:20px;
text-align:center;
border-bottom:4px solid #d4af37;
}

.nav{
display:flex;
justify-content:center;
gap:20px;
padding:10px;
background:#0f5132;
}

.nav a{
color:#d4af37;
text-decoration:none;
font-weight:bold;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#1f513f;
border-radius:10px;
overflow:hidden;
}

.card img{
width:100%;
height:160px;
object-fit:cover;
}

.card-content{
padding:15px;
}

.card a{
display:block;
background:#d4af37;
color:#0b3d2e;
padding:10px;
text-align:center;
margin-top:10px;
text-decoration:none;
border-radius:6px;
}

#panorama{
height:85vh;
width:100%;
}

#map{
height:90vh;
}

.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
display:flex;
align-items:center;
justify-content:center;
}

.popup-card{
background:white;
color:black;
padding:20px;
width:300px;
border-radius:10px;
}

.hidden{
display:none;
}

.admin{
max-width:400px;
margin:auto;
padding:20px;
display:flex;
flex-direction:column;
gap:10px;
}
